.playlistEl {
  color: aliceblue !important;
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 770px) {
  .playlistEl:hover {
    background-color: rgba(0, 8, 34, 0.5);
    color: #97d5ff;
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
  }
}

.addButton {
  position: absolute !important;
  right: 0px;
  margin: 0;
  padding-right: 18px !important;
  padding-left: 33.6px !important;
  height: 100px;
  box-shadow: none !important;
}
.addButton:hover {
  color: #c6538c;
}

.channelInfo {
  color: aliceblue !important;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0 0 10px;
  letter-spacing: -0.38px;
  line-height: normal;
  width: calc(100% - 110px);
}

.playlistInfo {
  color: aliceblue !important;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0 0 10px;
  letter-spacing: -0.38px;
  line-height: normal;
  width: calc(100% - 170px);
}

.link {
  color: aliceblue !important;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

/*# sourceMappingURL=PlaylistEl.module.css.map */
