.top-btn {
  padding: 10px 0 9px 0 !important;
  margin: 0 !important;
  box-shadow: none;
  height: 38px;
}

.feedback-invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

/*# sourceMappingURL=index.css.map */
