.Playlist{
  /*center gyf*/
  align-items: center;
  text-align: center;
  justify-content: center;

  overflow: auto;
  overflow-x: hidden;

  /*scroll*/
  min-height: 86vh;
  /*max-height: 86vh;*/
}

@keyframes pulse {
  0% {
    background-color: #00b2fa;
    //filter: brightness(25%);
  }
  50% {
    background-color: #c6538c;
    //filter: brightness(100%);
  }
  100% {
    background-color: #00b2fa;
    //filter: brightness(25%);
  }
}

.select-playlist-modal{
  color:black;
  text-align: left;
}

.searchPlaylist{

  height: 64px;
  scroll-snap-align: start;

  /*height: 15vh;*/
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width:100%;

  @media (min-width: 770px) {
    &:hover {
      background-color: rgba(0, 8, 34, 0.5);
      color: #000822;
    }
  }
}

.PlaylistThumbnailWrapper{
  background-color: transparent;
}

.PlaylistThumbnail{
  display: block;

  background-color: #0C1225;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100px;
  width: (100px * 1.618);

  box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.8)
}

.ChannelThumbnail{
  border-radius: 50%;

  display: block;

  background-color: rgba(7, 17, 45, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 103.55px;
  width: 103.55px;
}

.PlaylistTitle{
  -webkit-line-clamp: 2;
  display: block;
  max-height: 60px;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  margin-bottom: 10px;

}

.noPaddingLeft{
  padding-left: 0 !important;
}
