.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('back_3840x2400.webp');
  background-attachment: fixed;
  background-color: #000822;
  /* Add the blur effect */
  /*filter: blur(8px);*/
  /*-webkit-filter: blur(8px);*/
  /*transform: scale(1.1);*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px){
  ::-webkit-scrollbar {
    height: 0.3rem!important;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background-color: #8c0060 !important;
  }
}

@media screen  {

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 0.7rem;
    background-color: rgb(0, 8, 34);
    &:horizontal {
      background-color:rgba(0, 8, 34, 0.71)
    }
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(198, 83, 140, 0.31);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //-webkit-border-radius: 10px;
    //border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8c0060;
    //-webkit-border-radius: 10px;
    //border-radius: 10px;
  }

}

.downloadSpinner video{
  width: 20vh;
}

.text {
  padding-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1rem; /* fallback */
  max-height: 3rem; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: justify;
}

.OnlyXScroll{
  overflow: hidden;
  overflow-x: auto;
  overflow-y: visible;
}

#custom-footer, #custom-navbar,.custom-navbar,#custom-navbar-hidden {
  background-color: rgba(0, 8, 34, 0.85);
}

.input, .text{
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Segoe WP,Helvetica Neue,Lucida Grande,Verdana,Tahoma,Arial,sans-serif!important;
}
