@media (max-width: 767px) {
  .hamburgerToggler {
    visibility: visible !important;
  }
}
.custom-brand {
  font-size: 1.25rem;
}

.custom-search {
  float: right;
  width: 80%;
}
@media (min-width: 375px) {
  .custom-search {
    width: 60%;
  }
}
@media (min-width: 576px) {
  .custom-search {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .custom-search {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .custom-search {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .custom-search {
    width: 100%;
  }
}

.customSearchParams {
  margin-top: 20px;
}

.custom-control-label {
  user-select: none;
}

.hamburgerToggler {
  visibility: hidden;
}

#open-nav {
  background-color: rgba(0, 8, 34, 0.61);
  top: 0;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
  transition-property: all;
}

.maxWidth {
  width: 100%;
}

#custom-navbar {
  top: 0;
  transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  transition-property: all;
}

@media (max-width: 768px) {
  #custom-navbar-hidden {
    top: -52px;
    transition: transform 350ms cubic-bezier(0.4, 0, 1, 1);
    transition-property: all;
  }
}
.mobile-search-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

.icon-vk {
  color: dodgerblue;
}

.icon-app {
  color: white;
}

.icon-settings {
  color: white;
}

.no-padding {
  padding: 0;
}

.source-disable {
  background: linear-gradient(40deg, rgba(69, 202, 252, 0.26), #303f9f) !important;
}

/*# sourceMappingURL=index.css.map */
