.search-btn {
  padding: 10px 0 9px 0 !important;
  margin: 0rem !important;
}

.autocomplete-col, .autocomplete-wrap {
  min-height: 0;
  margin-top: 0.1rem;
}

.autocomplete-wrap {
  overflow-y: hidden;
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-left: 0;
  list-style-type: none;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.autocomplete-wrap li {
  padding: 0.45rem 0.74rem;
  border: 1px solid #eeefee;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: bold;
}
.autocomplete-wrap li:hover {
  background: #EEEEEE;
}

.mdb-autocomplete {
  margin-bottom: 0;
  border-radius: 0;
}

.custom-switch {
  color: white;
}

/*# sourceMappingURL=index.css.map */
