.currentPlaylistThumbnail{
  object-fit: cover;
}

.editPlaylistButton{
  position: absolute !important;
  right: 0px;
  margin: 0;
  padding-right: 18px;
  padding-left: 33.6px;
  height: 100px;
  box-shadow: none !important;
  &:hover{
    color:#8c0060;
  }
}
