.category{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
  div h2{
    margin-left: 10px;
    text-align: left;
  }
}
