.form-invalid{
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.feedback-invalid{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
