.player_content {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 80px;
}

.timeline_wrap {
  position: relative;
  top: 0;
  margin: 5px 10px 10px;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

.line_played {
  position: absolute;
  top: 3px;
  height: 3px;
  background-color: white;
}

.line_preload {
  position: absolute;
  top: 4px;
  height: 2px;
  background-color: #0081b5;
}

.line_preload.line_preload_up {
  background-color: rgba(0, 0, 0, 0.15);
}

.progress-bar-wrapper {
  width: 100%;
  height: 10px;
  cursor: pointer;
}

.full-line {
  position: absolute;
  top: 4px;
  width: 100%;
  height: 2px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.4);
}

.full-line-wrapper {
  position: absolute;
  width: 100%;
  height: 10px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.progress-bar-pointer {
  top: -3px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.progress-bar-pointer.progress-bar-pointer_up {
  background: #00b2fa;
}

.time_of_song {
  font-size: 9px;
  padding-top: 7px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: white;
  text-align: center;
}

.player_btns {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
}

.play_btn,
.random_btn,
.prev_btn,
.next_btn,
.repeat_btn {
  position: absolute;
  top: -16px;
}

.active-btn {
  color: #8C0060 !important;
}

.timeline_wrap.timeline_wrap_up,
.player_btns.player_btns_up {
  top: -305px;
  color: black;
}

.line_played.line_played_up {
  top: 3px;
  background-color: #00b2fa;
}

.full_line.full_line_up {
  background-color: rgba(0, 178, 250, 0.4);
}

.time_of_song.time_of_song_up {
  color: #00b2fa;
}

#play_circle {
  top: 17px;
  left: 1px;
}

.back_btn:hover {
  cursor: pointer;
}

.random_btn:hover,
.prev_btn:hover,
.next_btn:hover,
.repeat_btn:hover {
  cursor: pointer;
  color: #3FA3E2;
}

.play_btn:hover {
  cursor: pointer;
  color: #000822;
}

.random_btn_on,
.repeat_btn_on {
  color: #3FA3E2;
}

.volume_wrap {
  width: 50px;
}
@media (max-width: 770px) {
  .volume_wrap {
    display: none;
  }
}

.MuiSlider-root {
  top: -9px;
  padding: 13px 0 !important;
}

/*# sourceMappingURL=index.css.map */
