.audioPlaylists__body {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 14px;
  scroll-snap-type: x mandatory;
}
.audioPlaylists__body .audioPlaylists_item {
  vertical-align: top;
  overflow: hidden;
}
@media (min-width: 425px) {
  .audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
    height: 33.3vw !important;
  }
}
@media (min-width: 576px) {
  .audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
    height: 25vw !important;
  }
}
@media (min-width: 768px) {
  .audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
    height: 15vw !important;
  }
}
@media (min-width: 992px) {
  .audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
    height: 9vw !important;
  }
}
@media (min-width: 1200px) {
  .audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
    height: 6vw !important;
  }
}
.audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemCover, .audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
  display: block;
  width: calc(100% - 10px);
  height: 30vw;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 0 5px auto;
  object-fit: cover;
}
.audioPlaylists__body .audioPlaylists_item .audioPlaylists__add {
  margin: 0 5px auto;
  display: block;
  width: calc(100% - 10px);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  box-shadow: none;
}
.audioPlaylists__body .audioPlaylists_item .audioPlaylists__add i {
  color: #ffffff;
}
.audioPlaylists__body .audioPlaylists_item .audioPlaylists__itemTitle {
  color: #ffffff;
  line-height: 18px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 110px;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  display: block;
  margin: 8px auto 8px;
  -webkit-line-clamp: 2;
  max-height: 60px;
  -webkit-box-orient: vertical;
  white-space: normal;
  display: -webkit-box;
}

.audio_page_separator {
  width: 100%;
  height: 1px;
  background-color: #82C7DE;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-playlist-modal {
  color: black;
}

.editModalFooter {
  justify-content: space-between;
}

.category {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
}
.category div h2 {
  margin-left: 10px;
  text-align: left;
}

/* The heart of the matter */
.rowHorizontal {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.rowHorizontal .col-4 {
  scroll-snap-align: start;
}

@media (min-width: 992px) {
  .col-lg-20per {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/*# sourceMappingURL=index.css.map */
