.audioPlaylists__body{
  overflow: hidden;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 14px;
  scroll-snap-type: x mandatory;

  .audioPlaylists_item{
    //background-color: rgba(0, 8, 34, 0.71);
    vertical-align: top;

    overflow: hidden;
    &:first-child{
      //padding-left: 8px;
    }

    &:last-child{
      //padding-right: 8px;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 425px) { .audioPlaylists__itemCover,.audioPlaylists__add{height: 33.3vw !important;}}

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { .audioPlaylists__itemCover,.audioPlaylists__add{height: 25vw !important;}}

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { .audioPlaylists__itemCover,.audioPlaylists__add{height: 15vw  !important;}}

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { .audioPlaylists__itemCover,.audioPlaylists__add{height: 9vw  !important;}}

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { .audioPlaylists__itemCover,.audioPlaylists__add{height: 6vw  !important;}}

    .audioPlaylists__itemCover{
      display: block;
      width: calc(100% - 10px);
      height: 30vw;

      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      //box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.8);
      background-position: center;
      margin: 0 5px auto;
      object-fit: cover;
    }

    .audioPlaylists__add{
      margin: 0 5px auto;
      display: block;
      width: calc(100% - 10px);
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      background-position: 50%;

      @extend .audioPlaylists__itemCover;
      box-shadow: none;
      i{
        color: #ffffff;
      }
    }

    .audioPlaylists__itemTitle{
      color: #ffffff;
      line-height: 18px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 110px;
      font-weight: 500;
      -webkit-font-smoothing: subpixel-antialiased;
      display: block;
      margin: 8px auto 8px;
      -webkit-line-clamp: 2;
      max-height: 60px;
      -webkit-box-orient: vertical;
      white-space: normal;
      display: -webkit-box;
    }
  }
}

.audio_page_separator {
  width: 100%;
  height: 1px;
  background-color: #82C7DE;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.add-playlist-modal{
  color:black;
}

.editModalFooter{
  justify-content: space-between;
}

.category{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
  div h2{
    margin-left: 10px;
    text-align: left;
  }
}

/* The heart of the matter */
.rowHorizontal {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  margin-left: 0;
  margin-right: 0;
  width:100%;
}
.rowHorizontal .col-4 {
  scroll-snap-align: start;
}

@media (min-width: 992px){
  .col-lg-20per{
    flex: 0 0 20%;
    max-width: 20%;
  }
}
