.musicEl {
  text-align: left !important;
  height: 64px;
  scroll-snap-align: start;
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 770px) {
  .musicEl:hover {
    background-color: rgba(0, 8, 34, 0.5);
    color: #97d5ff;
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
  }
}
.musicEl .musicArtist {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 !important;
  font-size: 13px;
  margin: -1px 0 0 0;
  letter-spacing: -0.08px;
  overflow: hidden;
  width: calc(100% - 60px);
}
.musicEl .musicArtistActive {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 !important;
  font-size: 13px;
  margin: -1px 0 0 0;
  letter-spacing: -0.08px;
  overflow: hidden;
  width: 100%;
}
.musicEl .MusicThumbnail {
  margin: 0 8px 0 0;
  background-color: #0C1225;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 103.552px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.8);
}
.musicEl .musicInfoActive {
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0 0 4px;
  letter-spacing: -0.38px;
  line-height: normal;
  width: calc(100% - 150px);
}
.musicEl .musicInfo {
  text-align: left;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0 0 4px;
  letter-spacing: -0.38px;
  line-height: normal;
  width: calc(100% - 150px);
}
.musicEl .activeMusicEl {
  color: #fcfaff;
}
.musicEl .musicTitle {
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0;
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 12px 0 3px 0;
}
.musicEl .musicTimeActive {
  color: #c6538c !important;
}
.musicEl .musicTime {
  font-weight: bold;
  color: aliceblue;
  position: absolute;
  right: 40px;
  text-align: right;
}
.musicEl .custom-popover {
  position: absolute;
  top: 0;
}
.musicEl .menu_wrap {
  position: absolute;
  right: 0px;
  margin: 0;
  height: 64px;
  box-shadow: none !important;
  padding-right: 18px !important;
  padding-left: 33.6px !important;
}
.musicEl .menu_wrap:hover {
  color: #c6538c;
}

.activeMusic {
  background: linear-gradient(40deg, rgba(198, 83, 140, 0.8), rgba(0, 8, 34, 0.5)) !important;
}

.select-playlist-modal {
  color: black;
  text-align: left;
}

.searchPlaylist {
  height: 64px;
  scroll-snap-align: start;
  /*height: 15vh;*/
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (min-width: 770px) {
  .searchPlaylist:hover {
    background-color: rgba(0, 8, 34, 0.5);
    color: #000822;
  }
}

.noPaddingLeft {
  padding-left: 0 !important;
}

/*# sourceMappingURL=index.css.map */
