.musicEl{
  text-align: left !important;
  height: 64px;
  scroll-snap-align: start;

  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 770px){
    &:hover{
      background-color: rgba(0, 8, 34, 0.5);
      color: #97d5ff;
      opacity: 1;
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -o-transform: scale(1.01);
    }
  }

  .musicArtist{
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 0!important;
    font-size: 13px;
    margin: -1px 0 0 0;
    letter-spacing: -0.08px;
    overflow: hidden;

    width: calc(100% - 60px)
  }

  .musicArtistActive{
    display: inline-block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 0!important;
    font-size: 13px;
    margin: -1px 0 0 0;
    letter-spacing: -0.08px;
    overflow: hidden;

    width: 100%;
  }


  .MusicThumbnail{
    margin: 0 8px 0 0;

    background-color: #0C1225;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 64px;
    width: (64px * 1.618);

    box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.8)
  }

  .musicInfoActive {
    text-overflow: ellipsis;

    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0 0 4px;
    letter-spacing: -0.38px;
    line-height: normal;

    width: calc(100% - 150px)
  }

  .musicInfo{
    text-align: left;
    text-overflow: ellipsis;

    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0 0 4px;
    letter-spacing: -0.38px;
    line-height: normal;

    width: calc(100% - 150px)
  }

  .activeMusicEl{
    color: #fcfaff
  }

  .musicTitle{
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    //color: #2c2d2e;
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 12px 0 3px 0;
  }

  .musicTimeActive{
    color : #c6538c !important;
  }

  .musicTime{
    font-weight: bold;
    color: aliceblue;
    //width: 100px;
    //padding: 1.2rem 0 0 0.3rem;
    //text-align: center;
    position: absolute;
    right: 40px;
    text-align: right;
  }

  .custom-popover{
    position: absolute;
    top: 0
  }

  .menu_wrap{
    position: absolute;
    right: 0px;
    margin: 0;
    height: 64px;
    box-shadow: none !important;
    &:hover{
      color:#c6538c;
    }
    padding-right: 18px !important;
    padding-left: 33.6px !important;
  }
}

.activeMusic{
  background: linear-gradient(40deg, rgba(198, 83, 140, 0.8), rgba(0, 8, 34, 0.5)) !important;
}

.select-playlist-modal{
  color:black;
  text-align: left;
}

.searchPlaylist{

  height: 64px;
  scroll-snap-align: start;

  /*height: 15vh;*/
  background-color: rgba(7, 17, 45, 0.8);
  margin-bottom: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width:100%;

  @media (min-width: 770px) {
    &:hover {
      background-color: rgba(0, 8, 34, 0.5);
      color: #000822;
    }
  }
}

.noPaddingLeft{
  padding-left: 0 !important;
}
